body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

form {
max-width: 600px;
margin: 50px auto;
padding: 20px;
background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (fourth) value for transparency */
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color:#FA4B37;
}

table {
    width: 100%;
}

table tr td {
    padding: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    background: linear-gradient(to right, #FA4B37, #DF2771);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #c42b1a, rgb(222, 15, 98));
}

/* Add the styles below for the custom form */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/backwallpaper.png");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


